{% load static %}
{% load row_split %}

<div class="small-container">

    <div class="row row-2">
        <h2>All Products</h2>

        <select>
            <option>Default Sort</option>
            <option>Sort By Price</option>
            <option>Sort By Popularity</option>
            <option>Sort By Rating</option>
            <option>Sort By Sale</option>
        </select>
    </div>

    {% for product_row in products|row_split:4 %}
    <div class="row">

        {% for product in product_row %}
        <div class="col-4">

            <a href="{% url 'product_details' product.pk %}">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
            </a>

            <h4>{{ product.title }}</h4>

            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>

            <p>₹{{ product.price }}</p>

        </div>
        {% endfor %}

    </div>
    {% endfor %}

    <div class="page-btn">
        {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}"><span>«</span></a>
        {% endif %}
        {% for page_num in products.paginator.page_range %}
            <a href="?page={{ page_num }}"><span>{{ page_num }}</span></a>
        {% endfor %}
        {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}"><span>»</span></a>
        {% endif %}
    
        
        
    </div>

</div>